audit=false
engine-strict=true
fetch-retries=0
fund=false
ignore-scripts=true
lockfile-version=3
package-lock=true
prefer-offline=false
registry=https://registry.npmjs.org/
save-exact=true
strict-peer-deps=true
strict-ssl=true
update-notifier=false
